# Freeze governance and project‑rule files
/CODE_OF_CONDUCT.md    @Loepker-James
/CHANGELOG.md          @Loepker-James
/CONTRIBUTING.md       @Loepker-James
/dependencies.md       @Loepker-James
/requirements.txt      @Loepker-James
/README.md             @Loepker-James
/SECURITY.md           @Loepker-James
/.gitignore            @Loepker-James

# Protect build files
/pyproject.toml            @Loepker-James
/MANIFEST.in               @Loepker-James

# Protect all code
*.py                       @Loepker-James

# Freeze CodeQL rules
/codeql-custom-queries/**  @Loepker-James

# Freeze GitHub configuration files
/.github/**                @Loepker-James

# Protect typing metadata
/src/enforce_rules/py.typed            @Loepker-James
/src/enforce_rules/*.pyi               @Loepker-James
